input[type="text"], input[type="password"], textarea, textarea.form-control
	{
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	width: 80%;
	padding: 0 20px;
	vertical-align: middle;
	background: #fff;
	border: 3px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

textarea, textarea.form-control {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 30px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus,
	textarea.form-control:focus {
	outline: 0;
	background: #fff;
	border: 3px solid #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
	textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
	color: #888;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
	textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder
	{
	color: #888;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder
	{
	color: #888;
}

button.btn {
	margin: 0;
	padding: 0 10px;
	vertical-align: middle;
	background: #19b9e7;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

button.btn:hover {
	opacity: 0.6;
	color: #fff;
}

button.btn:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

button.btn:focus {
	outline: 0;
	opacity: 0.6;
	background: #19b9e7;
	color: #fff;
}

button.btn:active:focus, button.btn.active:focus {
	outline: 0;
	opacity: 0.6;
	background: #19b9e7;
	color: #fff;
}