body {
	font-family: 'Love Ya Like A Sister', cursive;
	background: url('../../resources/img/b1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.fixed {
	position: fixed;
	background: rgba(66, 134, 244, 0.8);
	z-index: 10;
	width: 100%;
	height: 55px;
	margin-left: 20px;
	border-left: 3px groove grey;
	border-bottom: 3px groove grey;
	border-bottom-left-radius: 20px;
	padding: 0px;
	padding-left: 10px;
}

#map {
	height: 450px;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 40px;
	background-color: grey;
	border: 5px groove rgb(66, 134, 244);
	border-radius: 10px;
}

#line {
	border-top: 3px groove white;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.col-md-4.hed {
	padding: 2px;
}

.padding {
	padding-top: 50px;
}

.search_form {
	margin-top: 10px;
}

.main_cont {
	border-right: 1px solid black;
}

.main {
	margin-left: 30px;
	border-left: 1 solid black;
}

.panel-default {
	border-color: #204d74;
}

.navbar-inverse {
	background: #000a11;
	border-bottom: none;
}

#sidebar-wrapper {
	background: #000a11;
	font-family: 'Exo', cursive;
	font-weight: bold;
	font-size: 18px;
	border-right: 4px solid rgb(66, 134, 244);
}

#success_message {
	display: none;
}

.p_form {
	margin-top: 80px;
}

.path_form_val {
	width: 100%;
}

.path_form_title {
	font-family: 'Exo', cursive;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
}

.form-control {
	border: 3px groove white
}

.det {
	text-align: right;
}

.hed {
	font-size: 15px;
	text-align: center;
	padding-left: 5px;
}

.first_hed {
	border-right: 3px solid #5a99cf;
}

.row1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wel {
	border-bottom: 4px solid #5a99cf;
	border-radius: 6px;
	margin-bottom: 10px;
	background-color: #a7d4f9;
	font-size: 18px;
	font-family: 'Exo', cursive;
	font-weight: bold;
}

.panel-default>.panel-heading {
	padding: 0px;
	background: #e8f3ff;
}

.msg_hover:hover {
	background-color: #c4dafc;
}

.panel {
	background-color: #f5f5f5;
}

.panel-group .panel {
	margin-bottom: 20px;
	background: #e8f3ff;
}

.pro-img {
	border-right: 2px groove white;
}

.pro-info {
	margin-left: 30px;
}

.pro-title {
	width: 50%;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: auto;
	font-size: 25px;
	font-weight: bold;
}