<!-- Footer -->
<footer class="text-center">
	<div class="footer-above">
		<div class="container">
			<div class="row">

				<div class="footer-col col-md-8">
					<h3>Domi</h3>
					<p>
						Domi service est une aplication web visant a faciliter la
						livraisons de courses et de petits paquets entre particuliers</a>.
					</p>
				</div>

				<div class="footer-col col-md-4">
					<h3>Nous suivre</h3>
					<ul class="list-inline">
						<li><a href="#" class="btn-social btn-outline"><span
								class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
						</li>
						<li><a href="#" class="btn-social btn-outline"><span
								class="sr-only">Google Plus</span><i
								class="fa fa-fw fa-google-plus"></i></a></li>
						<li><a href="#" class="btn-social btn-outline"><span
								class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">Copyright &copy; Domi Services 2017
					Created by : Boussaid Tayeb & Sarra Rahmani.</div>
			</div>
		</div>
	</div>
</footer>