<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN9rGNJRzsWgikFY67QK4gaPC9F6BAFaw&libraries=places&callback=mapInitialize">
		
</script>

<script src="resources/js/autocomplete.js"></script>

<form:form modelAttribute="rechercheTrajetForm" method="GET"
	class="form-inline row search_form" action="espacePersoDisplay">
	<div class="col-md-8">
		<div class="form-group ">

			<form:input type="text" placeholder="Votre position..."
				class="form-control" id="autocomplete3" path="villeDepartRecherche" />

		</div>


		<div class="form-group ">
			<form:input type="text" placeholder="Position du colis..."
				class="form-control" id="autocomplete4"
				path="villeDestinationRecherche" />
		</div>

		<div class="input-group date " data-provide="datepicker">
			<form:input type="text" placeholder="Date de depart..."
				class="form-control" path="dateDepartRecherche" />
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
			</div>
		</div>
	</div>

	<div class="col-md-1">
		<button type="submit" class="btn btn-default">Recherche</button>
	</div>
</form:form>